div.container {
	max-width: 1000px;
	margin: 100px 0px;
}
  
section.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

button {
	border: none;
	font-size: 18px;
	background: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	float: right;
	margin-right: 30px;
	margin-top: 11px;
}

button:hover {
	background: #F73A5F;
}
